.sidenav {
    height: 100%;  
    width: 25%;  
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    transition: .5s ease; 
    overflow-x: hidden; 
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: left;
    justify-content: space-between;
}

.welcomeMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rsvpButton {
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ourStory {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.location {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#demo {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#locationInfo {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background-color: aquamarine;
}

.registry {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}