#navbar { 
    transform: translateX(-100%); /* normal, hidden state */
}

.nav-container:hover #navbar {
    transform: translateX(0); /* when parent is hovered */
}

.navBarZ {
    z-index: 1;
}

.welcomeMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rsvpButton {
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ourStory {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.location {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#demo {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#locationInfo {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background-color: aquamarine;
}

.registry {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.bridalPartyContainer {
    background-color: darkcyan;
}

.bridalparty {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.bridalPartyRows {
    margin-top: 50px!important;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
}

.galleryHeading {
    margin-top: 15px!important;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.galleryContainer {
    margin-top: 50px!important;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
}

.rsvpHeading {
    margin-top: 15px!important;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.rsvpForm {
    margin: 100px!important;
    z-index:1
}